@import "tailwindcss";

@layer base {
  html {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }
}

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fafafa;
  background-color: #09090b;
  /* Zinc-950 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
  /* Zinc-900 */
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  /* Zinc-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
  /* Zinc-600 */
}